body {
  background: rgba(107, 114, 225, .25);
  color: #575F7D;
  font-family: 'Lora', serif;
  font-size: 17px;
  font-weight: lighter;
}
h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1.5px;
}
h1 {
  color:rgb(230, 230, 230);
  font-size: 32px;
  font-weight: 900;
}
h2 {
  color: rgba(107, 114, 225, .7);
  font-size: 20px;
  font-weight: 600;
}
a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #6B72E1;
  font-weight: 600;
  font-size: 16px;
}
a:hover {
  color: black;
}
.link-fnyxart {
  font-family: 'Lora', serif;
  font-weight: 600;
  background-image: linear-gradient(to bottom, rgba(247, 249, 252, 1), rgba(247, 249, 252, 1));
}
.link-fnyxart:hover {
  background-image: linear-gradient(to bottom, rgba(107, 114, 225, 1), rgba(107, 114, 225, 1));
  border-radius: 9%;
  box-shadow: 0px 1px 10px rgba(107, 114, 225, 1);
  color: white;
}

#banner {
  background-image:
    linear-gradient( rgb(61, 66, 143), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url("https://raw.githubusercontent.com/fnyxart/my-profile-for-le-wagon/gh-pages/images/NicoletaFaina-for-LeWagon.jpg");
  background-size: cover;
  border-radius: 4px;
  height: 500px;
  width: 100%;
  padding-top: 20px;
}

#banner p {
  font-family: 'Roboto', sans-serif;
  color:rgb(230, 230, 230);
  font-weight:500;
  letter-spacing: 2px;
}
/*
#banner .content {
  background-image: linear-gradient( rgb(255, 255, 255), rgba(255, 255, 255, 0));
  position:relative;

  /* padding: 5px, 0px, 10px; */

.banner p {
  font-size: 30px;
  font-style: italic;
  font-weight: lighter;
  opacity: 0.8;
}

/* Custom design with class (99% of your design) */
.container {
  width: 760px;
  margin: 40px auto;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
  .banner {
    padding: 50px 0;
  }
  .banner h1 {
    font-size: 30px;
  }
  .banner p {
    font-size: 20px;
  }
}


.card-white {
  background-color: rgba(247, 249, 252, 1);
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}
.img-circle {
  border-radius: 50%;
}
.btn-blue {
  background-color: #6B72E1;
  color: rgba(247, 249, 252, 1);
  padding: 15px 20px;
  border-radius: 4px;
}
.btn-blue:hover {
  background-color: black;
  color: rgba(247, 249, 252, 1);
}
.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline;
  padding: 10px;
}
.list-inline i {
  font-size: 50px;
  color: rgba(107, 114, 225, .25);
}
.list-inline i:hover {
  color: black;
}

/* Design adjustments using id (1% design remaining) */
#introduction p {
  margin-bottom: 40px;
}
